<div class="container-full">
<h2 class="sas-user-adding-delegataire-title">{{ 'Demande de délégation'|t }}</h2>
  <form{{ attributes }}>
    {{ children }}
    <a class="btn-highlight-outline" href="{{ path('<front>') }}">{{ 'Annuler'|t }}</a>
  </form>
</div>
